<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608388063852-q7d2uo1eoe2j4kmuiae10fhl05ipuouh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608388063852-q7d2uo1eoe2j4kmuiae10fhl05ipuouh</string>
	<key>API_KEY</key>
	<string>AIzaSyBfWV2I1dY8AWRhQVqhDbqqrFouNzG-oN0</string>
	<key>GCM_SENDER_ID</key>
	<string>608388063852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetcan.seyhan-gmail.com.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitteruiswiftproject</string>
	<key>STORAGE_BUCKET</key>
	<string>twitteruiswiftproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608388063852:ios:8c26970cb1a99e1fc66e49</string>
</dict>
</plist>